.horizontal-div {
  height: 100vh;
  display: grid;
  grid-template-areas: 
      'navbar'
      'profile';
  grid-template-rows: 0.4fr auto;
}

.navbar {
  grid-area: navbar;
}

.vertical-div {
  max-width: 85rem;
  justify-self: center;
  align-content: center;
  grid-area: profile;
  display: grid;
  grid-template-areas: 'left-panel main right-panel';
  grid-template-columns: 2fr 4.5fr 0.5fr;
}

.left-panel {
  grid-area: left-panel;
}

.profile {
  grid-area: main;
}

.right-panel {
  grid-area: right-panel;
}