.horizontal-div {
  display: grid;
  grid-template-areas: 
      'navbar'
      'profile';
  grid-template-rows: 100px 1fr;
  height: 100vh;
}

.navbar {
  grid-area: navbar;
}

.vertical-div {
  max-width: 85rem;
  justify-self: center;
  grid-area: profile;
  display: grid;
  grid-template-areas: 'left-panel main right-panel';
  grid-template-columns: 2fr 4.5fr 0.5fr;
  margin-bottom: auto;
}

.left-panel {
  grid-area: left-panel;
}

.profile {
  grid-area: main;
}

.right-panel {
  grid-area: right-panel;
}